<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><form method="post" enctype="multipart/form-data">
    <div class="form-group">
            <label for="course">Course</label>
            <input type="text" name="CourseName">
                </div>
                <div class="form-group">
                    <label for="college">college Name</label>
                   <input type="text" name="collegename">
                </div>
                <div class="form-group">
                    <label for="fee">fees</label>
                    <input type="text" name="fee">
                </div>
                <div class="form-group">
                    <label for="duration">Duration</label>
                    <input type="text" name="Duration">
                </div>
                <div class="form-group">
                    <label for="Video">Video</label>
                    <input type="file" name="Video">
                </div>
               <input type="submit" value="search">
               </form>
</body>
</html>