<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
       <tr>
           <th>Date</th>
           <th>Complaint</th>
           <th>Username</th>
           <th>E-mail</th>
           <th>Reply</th>
           <th>Send Reply</th>
       </tr>
       {% for i in val %}
       <tr>
           <td>{{ i.Created_at }}</td>
           <td>{{ i.Complaint }}</td>
           <td>{{ i.USER.Name }}</td>
           <td>{{ i.USER.Email }}</td>
           <td>{{ i.Reply }}</td>
           <td>
               <form method="post" action="CompReply/{{ i.id }}">
                   {% csrf_token %}
                   <input type="text" name="Reply" required>
                   <input type="submit" value="Send">
               </form>
           </td>
       </tr>
       {% endfor %}
    </table>
</body>
</html>
