<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/Complaint">Complaint</a></br>
    <a href="/VerifyHR">verifyHR</a></br>
    <a href="/ViewUser">viewuser</a></br>
    <a href="/addcourse">addcourse</a></br>
    <a href="/Reply">reply</a></br>
    <a href="/course">course</a></br>
    <a href="/ViewCollege">Viewcollege</a></br>

    <a href="/logout">logout</a></br>

</body>
</html>