<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <table border="1">
    <tr>
        <th>Company_Name</th>
        <th>E-mail</th>
        <th>Phone NO</th>
        <th>Type_of_Indusrty</th>
        <td></td>
    </tr> 
    {% for i in val %}  
    <tr>
        <td>{{ i.CompanyId }}</td>
        <td>{{ i.Email }}</td>
        <td>{{ i.PhoneNo }}</td>
        <td>{{ i.Address }}</td>
        <td></td>
        <td>
            <a href="">ACCEPT</a><br>
            <a href="">REJECT </a>
        </td>
    </tr> 
    {% endfor %}
</table>
</body>
</html>