<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Category Form</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table>
            <h1>Edit Jobrole</h1> 
            <tr>
                <td>Description:</td>
                <td><input type="text" name="Description" value="{{ val.Description}}"></td>
            </tr>
            <tr>
                <td>Experience:</td>
                <td><input type="text" name="Experience" value="{{ val.Experience}}"></td>
            </tr>
            <tr>
                <td>Job Role:</td>
                <td><input type="text" name="Job_Role" value="{{ val.Job_Role}}"></td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td><input type="text" name="Salary" value="{{ val.Salary}}"></td>
            </tr>
          
            <tr>
                <td><input type="submit" name="action" value="ADD"></td>
               
            </tr>
        </table>
    </form>
</body>
</html>
