<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <tr>
        <td>company name:</td>
        <td><input type="text"></td>
        <br><br>
        <td>Name:</td>
        <td><input type="text"></td>
        <br><br>
        <td>E-mail:</td>
        <td> <input type="text"></td>
        <br><br>
        <td>Phone NO:</td>
        <td><input type="text"></td>
        <br><br>
    </tr>
    <tr></tr>
</body>
</html>