<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
     <tr>
        <td>company name:</td>
        <td><input type="text" name="Name"></td>
        <br><br>
        <td>E-mail:</td>
        <td> <input type="text" name="Email"></td>
        <br><br>
        <td>Phone NO:</td>
        <td><input type="text" name="PhoneNo"></td>
        <br><br>
        <td>Address</td>
        <td><input type="text" name="Address"></td>
        <br><br>
        <td>Password</td>
        <td><input type="password" name="Password"></td>
        <br><br>
        <td>Username</td>
        <td><input type="text" name="Username"></td>
        <br><br>
        <input type="submit" value="Register">
        <br><br>
    </tr>
    <tr></tr>
    </form>
</body>
</html>