<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
        <th>Company name</th>
        <th>Description</th>
        <th>Experience</th>
        <th>Job roles</th>
        <th>Salary</th>
        <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="">EDIT</a>
                <br>
                <a href="">DELETE</a>
            </td>
        </tr>
    </table>
</body>
</html>