<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
      <tr>
          <td>Name:</td>
          <td><input type="text"></td>
          <br/><br/>
          <td>Age:</td>
          <td><input type="text"></td>
          <br/><br/>
          <td>E-mail:</td>
          <td><input type="text"></td>
          <br/><br/>
          <td>Qualification:</td>
          <td><input type="text"></td>
          <br/><br/>
          <td>Area of interest:</td>
          <td><input type="text"></td>
          <br/><br/>
          <td>Phone NO:</td>
          <td><input type="text"></td>
          <br/><br/>
          <td><input type="submit" value="ACCEPT"></td>
          <td><input type="submit" value="REJECT"></td>
          <tr></tr>
    </body>
</html>