<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Roles</title>
</head>
<body>
    <table border="1">
        <tr>
      
            <th>Company name</th>
            <th>Description</th>
            <th>Experience</th>
            <th>Job roles</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>

        {% for i in val %}
        <tr>
       
            <td>{{ i.HR_id.Name }}</td>
            <td>{{ i.Description }}</td>
            <td>{{ i.Experience }}</td>
            <td>{{ i.Job_Role }}</td>
            <td>{{ i.Salary }}</td>
            <td>
                <a href="/Editjobrole/{{ i.id }}">Edit</a>
                <br>
                <a href="/Deletejobrole/{{ i.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="7"><a href="/Jobrole">Add</a></td>
        </tr>
    </table>
</body>
</html>
